<div class = "container-fluid">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/Search" routerLinkActive="active">Home</a>
        <a class="nav-item nav-link" routerLink="/Product" routerLinkActive="active">Products</a>
    </div>
</nav>
</div>
<div id ="content">
    <div class = "logo">
        <img src = "../assets/eauction-logo.png"/>
      </div>
      
    <router-outlet></router-outlet>
    </div>

<!-- <div id="banner">
    <div class = "logo">
        <img src = "../assets/eauction-logo.png"/>
      </div>
      
</div>
<div id ="content">
  <app-search></app-search>
  <app-product></app-product>
  <app-bids></app-bids>
</div> -->

