.row {

    display: -webkit-flex;
}

.column{
    margin-left: 0.5%;
    padding: 5px;
}

.heading{
    text-decoration: underline;
}

.row>.column:first-child{
    font-weight: bold;
    margin-left: 2%;
}