* {
    margin-left:3px;
    margin-right:3px;
    margin-bottom:20px;
}

input{
    width: 60%;
    height: 2pc;
    border-radius :8px;
}

label{
    font-size: 20px;
}

 button{
    /* height :30px;
    border-radius: 6px;
    width: 10%; */
    font-size: 15px;
    /* background: #e7e4f1; */
} 